<div class="posts">
  <div class="textarea-wrapper--top-level">
    <%= form_for [post, comment], method: :post, class: "reply" do |f| %>
      <%= f.hidden_field :post_id, value: post.id, id: "post-id" %>
      <%= f.hidden_field :user_id, value: current_user.id, id: "user-id" %>
      <div class="postbox">
        <div class="textarea-wrapper">
          <%= f.text_area :content, class: "textarea text-content",
            placeholder: t("content")%>
        </div>
      </div><br>
      <div class="pull-right">
        <button class="btn btn-primary create-comment" id="submitBtn"><%= t("submit") %></button>
      </div>
  <% end %>
  </div><br><br>
</div>
