<% book = @post.book %>
<% post= @post%>
<div class="review-details">
  <div class="row">
      <div class="row">
        <div class="row">
          <div class="col-sm-10">

            <div class="review row post-content">

                <div class="reviewHeader uitext stacked">
                  <span class="reviewDate createdAt right text-right">
                    <%= post.created_at.strftime("%d %b %Y") %>
                  </span>

                  <!-- Review user rate -->
                  <!-- TODO -->

                  <b><p><%= post.title %></p></b>
                </div>
            </div>

            <div id="imagecol" class="col-sm-12">

              <div class="bookCoverContainer">
                <div class="bookCoverPrimary">
                  <%= link_to book_path(book) do %>
                    <%= image_tag book.picture.url, id: "postImage" if book.picture? %>
                  <% end %>
                </div>
              </div>
            </div>

            <h1 id="bookTitle" class="bookTitle">
              <%= link_to book.name, book_path(book) %>
            </h1>
            <div id="imagecol" class="stacked">
              <span class="by smallText">
                <% if book.authors.any? %>
                  <small><%= t "by" %></small>
                  <%= book.authors.map(&:name).join(", ") %>
                <% end %>
              </span>
            </div>

            <div class="review row post-content">
              <div class="reviewText stacked col-sm-12">
                <p class="readable">
                  <span><%= post.content %></span>
                </p>

                <% if user_signed_in? && (current_user.id == @post.user.id) %>
                  <%= link_to t("edit"), edit_post_path(@post), class:"btn btn-success" %>
                  <%= link_to t("delete"), post_path(@post), method: :delete,
                    class:"btn btn-danger" %>
                <% end %>

              </div>


              <input type="hidden" id="post-id" value="<%= @post.id %>">
                <% if user_signed_in? %>
                  <span class="like">
                    <% if like(@post).present? %>
                      <span class="btn icon-btn btn-info unlikeBtn
                        pmd-ripple-effect pmd-btn-raised"
                        data="<%= @post.id %>" like-id="<%= like(@post).id %>">
                        <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                        <%= t("liked") %>
                      </span>&nbsp;
                      <% if @post.likes.size > 0 %>
                        <span class="like-counter like-count-<%= @post.id %>">
                          <%= @post.likes.size %>
                        </span><%= t("like(s)") %>
                      <% else %>
                        <%= t("first_like") %>
                      <% end %>
                    <% else %>
                      <span class="btn icon-btn btn-default likeBtn
                        pmd-ripple-effect pmd-btn-raised"
                        data="<%= @post.id %>">
                        <i class="far fa-thumbs-up" aria-hidden="true" style="color: blue;"></i>
                        <span><%= t("like_it") %></span>
                      </span>&nbsp;
                      <% if @post.likes.size > 0 %>
                        <span class="like-counter like-count-<%= @post.id %>">
                          <%= @post.likes.size %>
                        </span><%= t("like(s)") %>
                      <% else %>
                        <%= t("first_like") %>
                      <% end %>
                    <% end %>
                  </span>
                <% else %>
                  <span class="like-login" data-url="<%= new_user_session_url %>">
                    <span class="btn icon-btn pmd-ripple-effect
                      pmd-btn-raised loginBtn">
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      <span><%= t("like") %></span>
                    </span>&nbsp;
                    <% if @post.likes.size > 0 %>
                      <span class="like-counter like-count-<%= @post.id %>">
                        <%= @post.likes.size %>
                      </span><%= t("like(s)") %>
                    <% else %>
                      <%= t("first_like") %>
                    <% end %>
                  </span>
                <% end %><br><br>

                <h2>Comments</h2><hr>
                <% if user_signed_in? %>
                  <%= render "comments/form", post: @post,
                    comment: @support.new_comment %>
                  <div id="comments" class="comments-part">
                    <%= render "comments/comments", post: @post,
                      comments: @support.comments %>
                  </div>
                <% else %>
                  <h3>
                    <%= link_to t("login"), new_user_session_path,
                    data: {turbolinks: false} %>
                    <%= t ".to_comment" %>
                  </h3><br>
                  <div id="comments" class="comments-part">
                    <%= render "comments/comments", post: @post,
                      comments: @support.comments %>
                  </div>
                <% end %>

            </div>
          </div>
        </div>
      </div>
  </div>
</div>
