<% book = @post.book %>
<% post= @post%>
<div class="review-details">
  <div class="row">
      <div class="row">
        <div class="row">
          <div class="col-sm-10">

            <div id="comments">
              <div class="review row post-content">

                  <div class="reviewHeader uitext stacked">
                    <span class="reviewDate createdAt right text-right">
                      <%= post.created_at.strftime("%d %b %Y") %>
                    </span>

                    <!-- Review user rate -->
                    <!-- TODO -->

                    <b><p><%= post.title %></p></b>
                  </div>
              </div>
            </div>

            <div id="imagecol" class="col-sm-12">

              <div class="bookCoverContainer">
                <div class="bookCoverPrimary">
                  <%= link_to book_path(book) do %>
                    <%= image_tag book.picture.url, id: "postImage" if book.picture? %>
                  <% end %>
                </div>
              </div>

              <div class="last col-sm-12" id="metacol">
                <h1 id="bookTitle" class="bookTitle">
                  <%= link_to book.name, book_path(book) %>
                </h1>
                <div id="bookAuthors" class="stacked">
                  <span class="by smallText">
                    <% if book.authors.any? %>
                      <small><%= t "by" %></small>
                      <% book.authors.each do |author| %>
                        <span><%= author.name %></span>
                        <% unless author == book.authors.last %>,<% end %>
                      <% end %>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>

            <div id="comments">
              <div class="review row post-content">
                <div class="reviewText stacked col-sm-12">
                  <p class="readable">
                    <span><%= post.content %></span>
                  </p>

                  <!-- edit and delete post -->
                  <!-- TODO -->

                </div>
              </div>

              <input type="hidden" id="post-id" value="<%= @post.id %>">
                <% if logged_in? %>
                  <span class="like">
                    <% if like(@post).present? %>
                      <span class="btn icon-btn btn-info unlikeBtn
                        pmd-ripple-effect pmd-btn-raised"
                        data="<%= @post.id %>" like-id="<%= like(@post).id %>">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <%= t("liked") %>
                      </span>&nbsp;
                      <% if @post.likes.size > 0 %>
                        <span class="like-counter like-count-<%= @post.id %>">
                          <%= @post.likes.size %>
                        </span><%= t("like(s)") %>
                      <% else %>
                        <%= t("first_like") %>
                      <% end %>
                    <% else %>
                      <span class="btn icon-btn btn-default likeBtn
                        pmd-ripple-effect pmd-btn-raised"
                        data="<%= @post.id %>">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <span><%= t("like_it") %></span>
                      </span>&nbsp;
                      <% if @post.likes.size > 0 %>
                        <span class="like-counter like-count-<%= @post.id %>">
                          <%= @post.likes.size %>
                        </span><%= t("like(s)") %>
                      <% else %>
                        <%= t("first_like") %>
                      <% end %>
                    <% end %>
                  </span>
                <% else %>
                  <span class="like-login">
                    <span class="btn icon-btn pmd-ripple-effect
                      pmd-btn-raised loginBtn">
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      <span><%= t("like") %></span>
                    </span>&nbsp;
                    <% if @post.likes.size > 0 %>
                      <span class="like-counter like-count-<%= @post.id %>">
                        <%= @post.likes.size %>
                      </span><%= t("like(s)") %>
                    <% else %>
                      <%= t("first_like") %>
                    <% end %>
                  </span>
                <% end %><br><br>

            </div>
          </div>
        </div>
      </div>
  </div>
</div>
