<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand"><%= t "home.title" %></span>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "#", data: {turbolinks: false} do %>
          <%= t "user.home" %>
        <% end %>
      </li>
      <li>
        <%= link_to "#", data: {turbolinks: false} do %>
          <%= t "home.about" %>
        <% end %>
      </li>
      <li>
        <%= link_to "#", data: {turbolinks: false} do %>
          <%= t "home.contact" %>
        <% end %>
      </li>
    </ul>

    <%= form_tag books_path, method: :get, class:"navbar-form navbar-left" do %>
      <div class="form-group">
        <%= text_field_tag :q, params[:q], class:"form-control",
          placeholder:"Title / ISBN / Author" %>
      </div>
      <%= button_tag(class: "button btn btn-default") do  %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <%= render "layouts/header_user" %>
      <% else %>
        <li>
          <%= link_to signup_path, method: :get, data: {turbolinks: false} do %>
            <span class="glyphicon glyphicon-user"></span> <%= t "user.sign_up" %>
          <% end %>
        </li>
        <li>
          <%= link_to login_path, method: :get, data: {turbolinks: false} do %>
            <span class="glyphicon glyphicon-log-in"></span> <%= t "user.login" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
